{% extends "layout.html" %}

{% block title %}
    Palette - Colors
{% endblock %}

{% block body %}
    <div class="center">
        <h1 id="title">{{ title }}</h1>
        <h4 id="question">What do you want the updated {{ title }} {{ type }} to be?</h4>
        <div class="color-preview">
            {% for key, value in user_choices.items() %}
                <div class="small-color" style="background-color: {{value}}"></div>
            {% endfor %}
        </div>
        <form action="/change" method="post">
            <div class="color-grid">
                {% for option in color_options %}
                    <input class="color" name="updated-{{ type }}" type="submit" style="background-color: {{ option }}" value="{{ option }}">
                {% endfor %}
            </div>
            
        </form>
    </div>
    <footer>Colette</footer>
{% endblock %}